@each $font-face in 'Verlag-Black', 'Verlag-Bold', 'Verlag-light', 'Verlag-Book', 'DidotHTFL11LightItal'  {
  @font-face {
    font-family: $font-face; font-style: normal; font-weight: normal;
    src: url('../fonts/#{$font-face}.eot');
    src: url('../fonts/#{$font-face}.eot?') format('eot'),
    url('../fonts/#{$font-face}.woff') format('woff'),
    url('../fonts/#{$font-face}.ttf')  format('truetype');
  }
}

@mixin font($font, $style: normal, $weight: normal) {
  font-family: '#{$font}', Helvetica, Arial, sans-serif;
  font-style:  $style;
  font-weight: $weight;
}